.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8rem 5rem;
}
.details_name > p {
  font-size: 20px;
  margin: 0;
  line-height: 150%;
  color: rgb(56, 56, 56);
}
.details_name > h1 {
  margin: -4px 0px;
  font-size: 3rem;
  font-weight: 900;
  color: rgb(56, 56, 56);
}
.details_p {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 150%;
}
.download_resume > a > button {
  background: linear-gradient(
    134deg,
    rgb(106, 152, 240) 0%,
    rgb(73, 97, 220) 99%
  );
  color: rgb(248, 248, 248);
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 15px;
  margin: 30px 0;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.download_resume > a > button:hover {
  font-size: 15.5px;
}
.githubicon {
  color: #5271ff;
}
@media only screen and (max-width: 1000px) {
  .details {
    flex-direction: column-reverse;
  }
}
